## Question 2 Euto Teams

#### 1. Import Libraries
#### 2. Load dataset
#### 3. Assign it to a variable called euro12

In [28]:
import pandas as pd
dataset_url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv"
euro12 = pd.read_csv(dataset_url)
euro12.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

#### 4. Select only the Goal column
#### 5. How many team participated in the Euro2012?

In [30]:
goals = euro12['Goals']

num_teams = euro12['Team'].nunique()
print("Total teams in Euro2012 -> ", num_teams)

Total teams in Euro2012 ->  16

####  6. What is the number of columns in the dataset?

In [31]:
print("Total columns in the dataset -> ", euro12.shape[1])

Total columns in the dataset ->  35

#### 7. View only the columns Team, Yellow Cards and Red Cards and assign them
#### to a dataframe called discipline
#### 8. Sort the teams by Red Cards, then to Yellow Cards

In [34]:
selected_columns = euro12[['Team', 'Yellow Cards', 'Red Cards']]
selected_columns_sorted = selected_columns.sort_values(by=['Red Cards', 'Yellow Cards'], ascending=False)
selected_columns_sorted

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

#### 9. Calculate the mean Yellow Cards given per Team

In [35]:
mycs = euro12['Yellow Cards'].mean()
print("Mean Yellow Cards -> ", mycs)

Mean Yellow Cards ->  7.4375

#### Teams that scored more than 6 goals and only the Team and Goals columns

In [38]:
teams_more_than_6_goals = euro12.loc[euro12['Goals'] > 6, ['Team', 'Goals']]
print("Teams with a goal total over six goals -> \n ", teams_more_than_6_goals)

Teams with a goal total over six goals ->
         Team  Goals
5   Germany     10
13    Spain     12

In [43]:
# The team names start with G
teams_starting_with_G = euro12.loc[euro12['Team'].str.startswith('G'), 'Team']
print("Teams starting with G -> \n", teams_starting_with_G)

Teams starting with G ->
 5    Germany
6     Greece
Name: Team, dtype: object

In [41]:
# First seven columns
first_7_col = euro12.iloc[:, :7]
print("First 7 columns -> \n", first_7_col)

First 7 columns ->
                    Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38