In [7]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipotle_df = pd.read_csv(url, sep='\t')

chipotle_df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [3]:
# Number of observations
num_observations = chipotle_df.shape[0]
print("No. of Observations -> ", num_observations)

No. of Observations ->  4622

In [4]:
# columns
num_columns = chipotle_df.shape[1]
print("No. of columns -> ", num_columns)

No. of columns ->  5

In [10]:
print("Column names -> ", chipotle_df.columns.tolist())
print("Index type -> ", chipotle_df.index)

Column names ->  ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']
Index type ->  RangeIndex(start=0, stop=4622, step=1)

In [11]:
# Most-ordered item
most_ordered_item = chipotle_df.groupby('item_name').quantity.sum().idxmax()

# Total ordered items
most_ordered_item_quantity = chipotle_df.groupby('item_name').quantity.sum().max()
print("most_ordered_item -> ", most_ordered_item)
print("most_ordered_item_quantity -> ", most_ordered_item_quantity)

most_ordered_item ->  Chicken Bowl
most_ordered_item_quantity ->  761

In [12]:
# Most ordered item in the 'choice_description' column
most_ordered_item_choice = chipotle_df.groupby('choice_description').quantity.sum().idxmax()
print(most_ordered_item_choice)

[Diet Coke]

In [13]:
# Total items ordered
total_items_ordered = chipo.quantity.sum()
print(total_items_ordered)

4972

In [14]:
# Turning price into float type
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:-1]))
print("Item price type after converting:", chipo['item_price'].dtype)

Item price type after converting: float64

In [15]:
# Total revenue
revenue = (chipo['item_price'] * chipo['quantity']).sum()
print(revenue)

39237.02

In [16]:
# Total orders
num_orders = chipo.order_id.nunique()
print(num_orders)

1834

In [17]:
# Average revenue amount per order
average_revenue_per_order = revenue / num_orders
print(average_revenue_per_order)

21.39423118865867

In [18]:
# To see how many different items were sold
num_different_items_sold = chipo['item_name'].nunique()
print(num_different_items_sold)

50